.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 500px;
}

.inner {
  display: inline-flex;
  width: 100px;
  height: 50px;
  box-shadow: 5px 5px 5px grey;
  margin: 5px;
  padding: 10px;
}
